/**
 * style_moviem.css
 *
 * Stylesheet for Movie Manager pages.
 *
 * @category   CSS
 * @package    RobMovieManager
 * @link       http://moviemanager.robhowe.com/
 * @since      version 0.2
 */


/*
 * master layout
 */

/* Top-left mini logo */
#moviem-logo {
    width: 66px;
    float: left;
}


/*
 * Form fields / validation
 */

/* Add mandatory asterisk to required fields */
.form-group.required label:after {
    content: "*";
    color: red;
}

/* Since Blade Form radio btns don't style properly */
.form-group div.readonly input,
.form-group div.disabled input {
    cursor: not-allowed;
}

/* Since Bootstrap btns are too close together */
.btn-toolbar>.btn:not(:first-child) {
    margin-left: 20px;
}
.btn-wide {
    padding-left: 24px;
    padding-right: 24px;
}


/* The main Movie Collection results table */
table.table.table-condensed.moviem-index {
    border: 1px solid black;
}
table.table.table-condensed.moviem-index th {
    border: 1px solid black;
    background-color: #222;
    color: #fff;
}
table.table.table-condensed.moviem-index th:not(:last-child):hover {
    background-color: #555;
}
table.table.table-condensed.moviem-index th a {
    text-decoration: none;
    color: #fff;
    letter-spacing: .04em;
    text-shadow: 0px 0px 1px #111;
}
table.table.table-condensed.moviem-index th a:hover {
    text-shadow: 1px 1px 2px #000;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
